<div class="goals-container">
  <mat-card style="margin-bottom: 1rem;">
    <mat-card-title>Günlük Hedef</mat-card-title>
    <mat-card-subtitle>{{tasksDoneToday.length}} / {{dailyGoals}}</mat-card-subtitle>
    <mat-card-content>
      <mat-progress-spinner color="primary" mode="determinate" [value]="dailyValue">
      </mat-progress-spinner>
      <p class="mat-title" *ngIf="tasksDoneToday.length >= dailyGoals ;else dailyElseBlock">
        TEBRİKLER, HEDEFE ULAŞTINIZ!
      </p>
      <ng-template #dailyElseBlock class="mat-typography">
        <p>Hedefinize ulaşmak için
          <b>{{dailyGoals - tasksDoneToday.length}}</b>
          görev daha tamamlayın!
        </p>
      </ng-template>
    </mat-card-content>
    <mat-card-actions>
      <span>Hedef: </span>
      <mat-slider
      (change)="onDailySliderChange()"
      [max]="10"
      [min]="1"
      [step]="1"
      [(ngModel)]="dailyGoals">
      </mat-slider>
      <span>{{dailyGoals}}</span>
    </mat-card-actions>
    <button mat-flat-button color="primary" (click)="openDailyDialog()">Tamamlananları Göster</button>
  
  </mat-card>
  
  <mat-card>
    <mat-card-title>Aylık Hedef</mat-card-title>
    <mat-card-subtitle>{{tasksDoneThisMonth.length}} / {{monthlyGoals}}</mat-card-subtitle>
    <mat-card-content>
      <mat-progress-spinner color="primary" mode="determinate" [value]="monthlyValue">
      </mat-progress-spinner>
      <p class="mat-title" *ngIf="tasksDoneThisMonth.length >= monthlyGoals ;else monthlyElseBlock">
        TEBRİKLER, HEDEFE ULAŞTINIZ!
      </p>
      <ng-template #monthlyElseBlock class="mat-typography">
        <p>Hedefinize ulaşmak için
          <b>{{monthlyGoals - tasksDoneThisMonth.length}}</b>
          görev daha tamamlayın!
        </p>
      </ng-template>
    </mat-card-content>
    <mat-card-actions>
      <span>Hedef: </span>
      <mat-slider
      (change)="onMonthlySliderChange()"
      [max]="60"
      [min]="5"
      [step]="1"
      [(ngModel)]="monthlyGoals">
      </mat-slider>
      <span>{{monthlyGoals}}</span>
    </mat-card-actions>
    <button mat-flat-button color="primary" (click)="openMonthlyDialog()">Tamamlananları Göster</button>
  </mat-card>
</div>