.add-task-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 2;
}

.quick-view-btn{
  position: fixed;
  bottom: 20px;
  right: 70px;
  z-index: 2;
}

.search-task{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-task mat-form-field {
  margin: 0.5rem;
}

@media(min-width: 700px) {
  .mat-tab-group-container {
    width: 60%;
    margin: 0 auto;
  }
}