.add-task-btn,
.quick-view-btn,
.activities-btn,
.goals-btn{
  position: fixed;
  bottom: 20px;
  z-index: 2;
}
.add-task-btn {right: 20px;}
.quick-view-btn {right: 70px;}
.activities-btn {right: 120px;}
.goals-btn{right: 170px;}

.search-task {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-task mat-form-field {
  margin: 0.5rem;
}

@media(min-width: 700px) {
  .mat-tab-group-container {
    width: 60%;
    margin: 0 auto;
  }
}