.nav-buttons{
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 2;
}

a{
  margin-left: 0.6rem;
  transition: all linear 0.1s;
}

.nav-buttons a:hover{
  transform: translateY(-0.5rem) scale(1.20);
}