<div class="nav-buttons">
  <a routerLink="/hedefler" mat-mini-fab color="primary" matTooltip="Hedefler" matTooltipPosition="above">
    <mat-icon>flag</mat-icon>
  </a>
  <a routerLink="/aktiviteler" mat-mini-fab color="primary" matTooltip="Aktiviteler" matTooltipPosition="above">
    <mat-icon>history</mat-icon>
  </a>
  <a routerLink="/hizli" mat-mini-fab color="primary" matTooltip="Hızlı Görünüm" matTooltipPosition="above">
    <mat-icon>line_style</mat-icon>
  </a>
  <a routerLink="/ekle" mat-mini-fab color="primary" matTooltip="Görev Ekle" matTooltipPosition="above">
    <mat-icon>add</mat-icon>
  </a>
  <a routerLink="/" mat-mini-fab color="primary" matTooltip="Ana Sayfa" matTooltipPosition="above">
    <mat-icon>home</mat-icon>
  </a>
</div>