mat-card * {
  margin: 0;
  padding: 0;
}

mat-card mat-card-header * {
  margin: 0;
  padding: 0;
}

mat-card{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
  padding: 0.5rem;
}

mat-card mat-card-header{
  display: flex;
  flex-direction: column;
  flex: 1;
}

mat-card mat-card-header p {
  font-size: 1rem;
}

mat-card-content{
  flex: 1;
  text-align: center;
}

mat-action-row{
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

mat-action-row .mat-icon-button{
  width: 1.5rem;
  margin-right: 0.25rem;
}




