<div class="quick-view-wrapper">
  <div style="text-align: center;" class="mat-headline">Hızlı Görünüm</div>
  <div class="info-sec">
    <mat-icon color="primary">fiber_manual_record</mat-icon>
    <div class="mat-small">Aylık</div>
    <mat-icon color="accent">fiber_manual_record</mat-icon>
    <div class="mat-small">Haftalık</div>
    <mat-icon color="warn">fiber_manual_record</mat-icon>
    <div class="mat-small">Günlük</div>
    <mat-icon style="color: lightgray;">fiber_manual_record</mat-icon>
    <div class="mat-small">Geçmiş</div>
  </div>
  <div style="text-align: center; margin-top: 0.5rem;" class="mat-small">Daha fazla bilgi için farenizi görevlerin üstünde gezdirin ya da basılı tutun.</div>
  <mat-divider style="margin: 1rem;"></mat-divider>
  <mat-chip-list>
    <mat-chip *ngFor="let task of tasks" [matTooltip]="createTooltip(task)" matTooltipClass="tooltip-lines" [color]="generateRemainingColor(task)" selected>
      {{task.task}}</mat-chip>
  </mat-chip-list>
</div>
<a routerLink="/" class="back-btn" mat-mini-fab color="primary" matTooltip="Geri Dön"
  matTooltipPosition="before">
  <mat-icon>arrow_back</mat-icon>
</a>